<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contact</title>
</head>

<body>
   <h2>This is the contact page</h2>
   <form action="/contact" method="POST">
      <div>
         <label for="name">Name :</label>
         <input style="margin-left: 2px;" type="text" name="name" id="name">
      </div>
      <div style="margin-top: 10px;">
         <label for="number">Phone :</label>
         <input type="number" name="phone" id="phone">
      </div>
      <button style="margin-top: 10px;" type="submit">Submit</button>
   </form>
</body>
</html>