<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Details</title>
</head>

<body>
   <h2>User Details</h2>
   <form action="/user" method="POST">
      <div>
         <label for="name">Name : </label>
         <input type="text" name="name" id="name">
      </div>
      <div style="margin-top: 10px">
         <label for="age">Age : </label>
         <input style="margin-left: 11px;" type="number" name="age" id="age">
      </div>
      <button style="margin-top: 10px" type="submit">Register</button>
   </form>
  
</body>
</html>